<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTfWyU-0oCT-gQqn4Qu3qCrc-NlLkqvr2BeGDR1ll-ckTjDAWhHMu8H0_awK3oIJHOBmE&usqp=CAU"
      alt=""
      srcset=""
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#"
        >Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley</a
      >
    </p>
  </div>
</div>
