<div class="container__menu-bar">
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/diego-minelli-d26i07e09/"
        target="_blank"
        >Linkedin</a
      >
    </li>
    <li><span>•</span></li>
    <li>
      <a href="https://github.com/diegominelli" target="_blank"></a>Github
    </li>
    <li><span>•</span></li>
    <li>
      <a
        href="https://www.youtube.com/@benjaminbrotherseosminnell2601"
        target="_blank"
      ></a
      >Youtube
    </li>
  </ul>
</div>
